.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1A161D;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .logout-button, .login-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4A3AFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }