.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 50px; /* Ajuster pour compenser la hauteur du header fixe */
  }
  
  .main-content {
    display: flex;
    flex-grow: 1;
  }
  
  .map-container {
    flex-grow: 1;
    position: relative;
    width: 100%; /* Prendre toute la largeur disponible */
  }
  
  .login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
  }
  
  .login-popup-content {
    display: flex;
    flex-direction: column;
    width: 100%; /* Prendre toute la largeur disponible */
    max-width: 900px; /* Augmenter la largeur maximale */
  }
  .close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }