.map-container {
  position: relative;
  height: 100vh;
  width: 1000%;
  overflow: hidden; /* Assurez-vous que rien ne dépasse */
}

.sidebar-container {
  position: absolute;
  top: 12%;
  left: 50px; /* Déplacer la Sidebar encore plus à droite */
  width: 300px;
  background-color: #1A161D; /* Couleur de fond */
  border-right: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto;
  color: #ffffff; /* Couleur du texte */
  z-index: 1000;
}

.greeting-container {
  position: absolute;
  top: 5%; /* Ajuster pour aligner avec l'adresse de départ */
  left: 50px; /* Ajuster en fonction de la largeur de la Sidebar */
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 2rem;
}

.results-container {
  position: absolute;
  width: 300px;
  background-color: #f8f9fa;
  border-radius: 4px;
  padding: 1rem;
  overflow-y: auto;
  max-height: calc(100vh - 200px); /* Ajuster pour limiter la hauteur des résultats */
  z-index: 1000;
}

.search-container {
  margin-bottom: 1rem;
}

.search-input {
  width: calc(100% - 1rem);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333; /* Couleur de fond des champs de saisie */
  color: #ffffff; /* Couleur du texte des champs de saisie */
}

.search-button {
  width: 100%;
  padding: 0.5rem;
  background-color: #4A3AFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.route-option {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.route-option.selected {
  background-color: #4A3AFF;
  color: #fff;
}

.route-option:hover {
  background-color: #f0f0f0;
}