.sidebar-container {
  position: fixed;
  top: 18%; /* Abaisser la Sidebar d'un quart de la hauteur de la fenêtre */
  left: 20px; /* Déplacer la Sidebar plus à droite */
  width: 300px; /* Largeur par défaut */
  height: auto; /* Ajuster la hauteur automatiquement */
  background-color: #1A161D; /* Couleur de fond */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Couleur de l'ombre */
  z-index: 1000;
  padding: 20px;
  border-radius: 0 10px 10px 0; /* Arrondir les bords à droite */
  color: #ffffff; /* Couleur du texte */
  display: flex;
  flex-direction: column;
}

.search-container {
  background-color: #1A161D; /* Couleur de fond */
  z-index: 1001;
  padding-bottom: 0; /* Supprimer le padding en bas */
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333; /* Couleur de fond des champs de saisie */
  color: #ffffff; /* Couleur du texte des champs de saisie */
  border: none;
  border-radius: 5px; /* Arrondir les bords */
}

.search-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Arrondir les bords */
}